@import "./normalize.css";
@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:ital,wght@0,100;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,700;1,800;1,900&family=Alegreya:ital,wght@0,400..900;1,400..900&family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Cormorant:ital,wght@0,300..700;1,300..700&family=Great+Vibes&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Jost:wght@100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Prata&family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
* {
  border: 1px solid red;
  box-sizing: border-box;
  transition: all 0.5s ease;
}

p, h2 {
  text-align: center;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: rgb(0, 0, 0);
  font-family: "Cormorant", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.banner {
  background-image: url("/assets/img/Background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
}
@media (max-width: 600px) {
  .banner {
    height: 70vh;
  }
}
@media (max-width: 1000px) {
  .header__logo {
    width: 70px;
  }
}
.text__small {
  color: #ffc178;
  font-size: 1.2em;
  text-align: center;
}
@media (max-width: 700px) {
  .text__small {
    font-size: 1.1em;
    width: 50vw;
  }
}
@media (max-width: 500px) {
  .text__small {
    font-size: 1em;
    padding-top: 50px;
  }
}
@media only screen and (device-width: 430px) and (device-height: 932px) and (-webkit-device-pixel-ratio: 3) {
  .text__small {
    font-size: 1.2rem;
  }
}
@media (max-width: 300px) {
  .text__small {
    width: 200px;
  }
}

.text__description {
  color: white;
  width: 500px;
  font-size: 1.1em;
  font-size: 1.2rem;
  letter-spacing: 1.03px;
  width: 80%;
}
@media (max-width: 900px) {
  .text__description {
    font-size: 1rem;
  }
}
@media (max-width: 500px) {
  .text__description {
    font-size: 0.8rem;
  }
}

.text__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  gap: 1rem;
  width: auto;
}
@media (max-width: 900px) {
  .text__container {
    width: auto;
    font-size: 1.1em;
    letter-spacing: 1.8px;
  }
}
.text__title {
  color: white;
  font-size: 3em;
}
@media (max-width: 1100px) {
  .text__title {
    font-size: 2em;
  }
}
@media (max-width: 900px) {
  .text__title {
    font-size: 1.8em;
    width: 260px;
  }
}
@media (max-width: 800px) {
  .text__title {
    width: 250px;
    text-align: center;
    font-size: 1.6em;
  }
}
@media (max-width: 700px) {
  .text__title {
    font-size: 1em;
  }
}
@media only screen and (device-width: 430px) and (device-height: 932px) and (-webkit-device-pixel-ratio: 3) {
  .text__title {
    width: auto;
  }
}

.read__more {
  width: 100px;
  color: #ffc178;
  background-color: transparent;
  border: none;
  text-decoration: none;
}
.header__burger--btn {
  display: none;
  position: relative;
  width: 30px;
  height: 30px;
  border: none;
  background-color: transparent;
  border-radius: 5px;
}
@media (max-width: 800px) {
  .header__burger--btn {
    display: block;
    z-index: 2;
  }
}

.header__burger--btn span {
  position: absolute;
  width: 20px;
  height: 2.5px;
  background-color: rgb(179, 179, 179);
  left: 5px;
  transition: transform 0.5s, opacity 0.5s, background-color 0.5s;
}

.header__burger--btn span:nth-child(1) {
  transform: translateY(-10px);
}

.header__burger--btn span:nth-child(3) {
  transform: translateY(10px);
}

.header.open .header__burger--btn span {
  background-color: white;
}

.header.open .header__burger--btn span:nth-child(1) {
  transform: translateY(0) rotate(45deg);
}

.header.open .header__burger--btn span:nth-child(2) {
  opacity: 0;
}

.header.open .header__burger--btn span:nth-child(3) {
  transform: translateY(0) rotate(-45deg);
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 40px 30px;
}
.header__search-input {
  border: 0;
  background-color: transparent;
  font-size: 1.1em;
}
.header__navigation > a {
  color: white;
  text-decoration: none;
  font-size: 1.1em;
}
@media (max-width: 900px) {
  .header__navigation > a {
    font-size: 1.25em;
  }
}
@media (max-width: 800px) {
  .header__navigation > a {
    display: block;
    padding: 15px;
  }
}
@media (max-width: 800px) {
  .header__navigation {
    position: absolute;
    left: 0;
    top: 0;
    padding: 75px 15px 15px 15px;
    background-color: rgba(78, 78, 78, 0.3);
    font-size: 1.3em;
    border-radius: 5px;
    transition: transform 0.5s;
    transform: translateX(-100%);
  }
}
@media (max-width: 800px) {
  .header.open .header__navigation {
    transform: translateX(0);
  }
}

.header__slogan {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.header__title-discovery {
  color: white;
  font-size: 3em;
  text-align: center;
}

.header__scroll {
  background-color: transparent;
  color: white;
  border: none;
  text-decoration: none;
}
@media only screen and (device-width: 430px) and (device-height: 932px) and (-webkit-device-pixel-ratio: 3) {
  .header__scroll {
    font-size: 1.245em;
  }
}

.holidaty {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}
@media (max-width: 700px) {
  .holidaty {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.image_tengerra {
  height: 600px;
}
@media (max-width: 1000px) {
  .image_tengerra {
    height: 550px;
  }
}
@media (max-width: 900px) {
  .image_tengerra {
    height: 500px;
  }
}
@media (max-width: 800px) {
  .image_tengerra {
    height: 400px;
  }
}
@media (max-width: 700px) {
  .image_tengerra {
    width: 60vw;
    height: 70vh;
  }
}
@media (max-width: 600px) {
  .image_tengerra {
    height: auto;
  }
}
@media only screen and (device-width: 430px) and (device-height: 932px) and (-webkit-device-pixel-ratio: 3) {
  .image_tengerra {
    width: 70vw;
  }
}

.bromo {
  background-image: url("/assets/img/bromo.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 10rem 0;
  width: 90%;
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content__bromo {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.culture {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}
@media (max-width: 700px) {
  .culture {
    grid-template-columns: 1fr;
    align-items: center;
    justify-items: center;
  }
}

.image__cult {
  height: 600px;
}
@media (max-width: 1100px) {
  .image__cult {
    height: 550px;
  }
}
@media (max-width: 900px) {
  .image__cult {
    height: 500px;
  }
}
@media (max-width: 800px) {
  .image__cult {
    height: 400px;
  }
}
@media (max-width: 700px) {
  .image__cult {
    width: 60vw;
    height: 80vh;
  }
}
@media (max-width: 600px) and (max-width: 600px) {
  .image__cult {
    height: auto;
  }
}
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}
@media (max-width: 900px) {
  .modal {
    background-color: rgba(0, 0, 0, 0.8);
  }
}
.modal__content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(135, 135, 135, 0.3);
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  width: 400px;
  position: relative;
}
.modal__content .modal__close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 30px;
  cursor: pointer;
  color: white;
}
.modal__content__registration-form {
  transform: translateY(-20px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}
.modal__content__registration-form .registration__form.visible {
  transform: translateY(0);
}

.form {
  text-align: center;
  padding-top: 20px;
}
.form .data {
  color: rgb(255, 159, 159);
  letter-spacing: 0.1em;
  text-decoration: none;
}
.form .modal__container-registration {
  color: azure;
  padding: 10px;
}
.form #button {
  width: 10vw;
  height: 2.5vw;
  border-radius: 8px;
  background-color: #fdaf56;
  font-weight: bold;
}
@media (max-width: 900px) {
  .form #button {
    width: 11vw;
    height: 3vw;
  }
}
@media (max-width: 800px) {
  .form #button {
    width: 13vw;
    height: 3vw;
  }
}
@media (max-width: 700px) {
  .form #button {
    height: 3.5vw;
  }
}
@media (max-width: 500px) {
  .form #button {
    width: 12vw;
    height: 5vw;
  }
}

.section__registration {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #e0c6ab;
  padding: 40px;
}

.footer__starting {
  color: white;
  font-size: 1.2em;
}
@media (max-width: 1000px) {
  .footer__starting {
    font-size: 1.2em;
  }
}
@media (max-width: 800px) {
  .footer__starting {
    font-size: 1.05em;
  }
}
@media (max-width: 500px) {
  .footer__starting {
    font-size: 1.09em;
  }
}

.footer__button-start {
  width: 10vw;
  border-radius: 12px;
  background-color: #ffa343;
  font-weight: bold;
}
@media (max-width: 1000px) {
  .footer__button-start {
    width: 15vw;
    height: 5vw;
    font-size: 1.2em;
  }
}
@media (max-width: 800px) {
  .footer__button-start {
    width: 16vw;
  }
}
@media (max-width: 700px) {
  .footer__button-start {
    width: 120px;
    height: auto;
    font-size: 1.1em;
  }
}
@media (max-width: 600px) {
  .footer__button-start {
    width: auto;
  }
}
.footer__holiday-vacation {
  color: white;
  width: 300px;
  padding: 20px;
}
@media (max-width: 1000px) {
  .footer__holiday-vacation {
    font-size: 1.5em;
  }
}
@media (max-width: 800px) {
  .footer__holiday-vacation {
    width: auto;
    font-size: 1.4em;
  }
}
@media (max-width: 700px) {
  .footer__holiday-vacation {
    font-size: 1.3em;
  }
}
@media (max-width: 500px) {
  .footer__holiday-vacation {
    font-size: 1em;
  }
}
@media only screen and (device-width: 430px) and (device-height: 932px) and (-webkit-device-pixel-ratio: 3) {
  .footer__holiday-vacation {
    font-size: 1em;
  }
}

.footer__services-container {
  color: white;
  display: flex;
  justify-content: space-around;
  font-size: 1.1em;
}
@media (max-width: 1000px) {
  .footer__services-container {
    font-size: 1.3em;
  }
}
@media (max-width: 900px) {
  .footer__services-container {
    font-size: 1.02em;
    line-height: 1.5;
  }
}
@media (max-width: 600px) {
  .footer__services-container {
    font-size: 1em;
  }
}
@media (max-width: 500px) {
  .footer__services-container {
    font-size: 0.78em;
  }
}
.footer__services-container .footer__services-list {
  list-style-type: none;
}

.headline {
  color: #ffd1a0;
}

.footer__social-network {
  display: flex;
  justify-content: end;
  gap: 30px;
  padding: 1rem;
}
.footer__social-network .footer__social-icon {
  width: auto;
  height: 22px;
}

.footer__down {
  color: rgba(255, 255, 255, 0.8);
  text-align: center;
  width: auto;
}
@media (max-width: 600px) {
  .footer__down {
    padding-top: 10px;
  }
}
@media only screen and (device-width: 430px) and (device-height: 932px) and (-webkit-device-pixel-ratio: 3) {
  .footer__down {
    font-size: 0.8em;
  }
}

#cookie-banner {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
}/*# sourceMappingURL=style.css.map */