@import "./normalize.css";
@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:ital,wght@0,100;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,700;1,800;1,900&family=Alegreya:ital,wght@0,400..900;1,400..900&family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Cormorant:ital,wght@0,300..700;1,300..700&family=Great+Vibes&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Jost:wght@100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Prata&family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
* {
  // border: 1px solid red;
  box-sizing: border-box;
  transition: all 0.5s ease;
}
@mixin change__small-Text {
  color: #ffc178;
  font-size: 1.2rem;
  text-align: center;
}
@mixin change__text-description {
  color: white;
  width: 500px;
  font-size: 1.1rem;
}
@mixin flex_direction {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  gap: 1rem;
}
@mixin bk_img {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
@mixin color__title {
  color: white;
  font-size: 3rem;
}
@mixin btn_read-more {
  width: 100px;
  color: #ffc178;
  background-color: transparent;
  border: none;
  text-decoration: none;
}

@mixin grid-center {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: center;
}
p,
h2 {
  text-align: center;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #000000;
  font-family: "Cormorant", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.banner {
  // background-image: url("/assets/img/Background.png"); // относительный путь для локального сервера
  background-image: url("/QWERy/assets/img/Background.png"); //без имени репозитория будет отображаться фото на локальном сервере
  @include bk_img;
  height: 100vh;
  @media (max-width: 600px) {
    height: 70vh;
  }
}

.header__logo {
  @media (max-width: 1000px) {
    width: 70px;
  }
}

.text__small {
  @include change__small-Text;
  @media (max-width: 700px) {
    font-size: 1.1rem;
    width: 50vw;
  }
  @media (max-width: 500px) {
    font-size: 1rem;
    padding-top: 50px;
  }
  @media only screen and (device-width: 430px) and (device-height: 932px) and (-webkit-device-pixel-ratio: 3) {
    font-size: 1.2rem;
  }
  @media (max-width: 300px) {
    width: 200px;
  }
}

.text__description {
  @include change__text-description;

  font-size: 1.2rem;
  letter-spacing: 1.03px;
  width: 80%;

  @media (max-width: 900px) {
    font-size: 1rem;
  }
  @media (max-width: 500px) {
    font-size: 0.8rem;
  }
}

.text__container {
  @include flex_direction;
  width: auto;
  @media (max-width: 900px) {
    width: auto;
    font-size: 1.1rem;
    letter-spacing: 1.8px;
  }
}

.text__title {
  @include color__title;

  @media (max-width: 1100px) {
    font-size: 2rem;
  }
  @media (max-width: 900px) {
    font-size: 1.8rem;
    width: 260px;
  }
  @media (max-width: 800px) {
    width: 250px;
    text-align: center;
    font-size: 1.6rem;
  }
  @media (max-width: 700px) {
    font-size: 1rem;
  }
  @media only screen and (device-width: 430px) and (device-height: 932px) and (-webkit-device-pixel-ratio: 3) {
    width: auto;
  }
}

.read__more {
  @include btn_read-more;
}

// БУРГЕР КНОПКА
.header__burger--btn {
  display: none;
  position: relative;
  width: 30px;
  height: 30px;
  border: none;
  background-color: transparent;
  border-radius: 5px;
  @media (max-width: 800px) {
    display: block;
    z-index: 2;
  }
}

.header__burger--btn span {
  position: absolute;
  width: 20px;
  height: 2.5px;
  background-color: rgb(179, 179, 179);
  left: 5px;
  transition: transform 0.5s, opacity 0.5s, background-color 0.5s;
}

.header__burger--btn span:nth-child(1) {
  transform: translateY(-10px);
}

.header__burger--btn span:nth-child(3) {
  transform: translateY(10px);
}
.header.open .header__burger--btn span {
  background-color: white;
}
.header.open .header__burger--btn span:nth-child(1) {
  transform: translateY(0) rotate(45deg);
}
.header.open .header__burger--btn span:nth-child(2) {
  opacity: 0;
}
.header.open .header__burger--btn span:nth-child(3) {
  transform: translateY(0) rotate(-45deg);
}

// Секция ХЕДЕРА
.header {
  display: flex;
  justify-content: space-between;
  padding: 40px 30px;

  &__search-input {
    border: 0;
    background-color: transparent;
    font-size: 1.1rem;
  }

  &__navigation {   
    & > a {
      color: white;
      text-decoration: none;
      font-size: 1.2rem;
      padding: 20px;
      @media (max-width: 900px) {
        font-size: 1.1rem;
      }
      @media (max-width: 800px) {
        display: block;
        padding: 15px;
      }
    }

    @media (max-width: 800px) {
      position: absolute;
      left: 0;
      top: 0;
      padding: 75px 15px 15px 15px;
      background-color: rgba(#4e4e4e, 0.3);
      font-size: 1.3rem;
      border-radius: 5px;
      transition: transform 0.5s;
      transform: translateX(-100%);
    }
  }
}

.header.open .header__navigation {
  @media (max-width: 800px) {
    transform: translateX(0);
  }
}

.header__slogan {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.header__title-discovery {
  @include color__title;
  text-align: center;
  @media (max-width: 600px){
    font-size: 2rem;
  } 
}

.header__scroll {
  background-color: transparent;
  color: white;
  border: none;
  text-decoration: none;
  @media only screen and (device-width: 430px) and (device-height: 932px) and (-webkit-device-pixel-ratio: 3) {
    font-size: 1.245rem;
  }
}

.holidaty {
  @include grid-center;

  @media (max-width: 700px) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.image_tengerra {
  height: 600px;
  @media (max-width: 1000px) {
    height: 550px;
  }
  @media (max-width: 900px) {
    height: 500px;
  }
  @media (max-width: 800px) {
    height: 400px;
  }
  @media (max-width: 700px) {
    width: 60vw;
    height: 70vh;
  }
  @media (max-width: 600px) {
    height: auto;
  }
  @media only screen and (device-width: 430px) and (device-height: 932px) and (-webkit-device-pixel-ratio: 3) {
    width: 70vw;
  }
}

// Секция БРОМО
.bromo {
  // background-image: url("/assets/img/bromo.png");
  background-image: url("/QWERy/assets/img/bromo.png");
  @include bk_img;
  padding: 10rem 0;
  width: 90%;
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.content__bromo {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.culture {
  @include grid-center;

  @media (max-width: 700px) {
    grid-template-columns: 1fr;
    align-items: center;
    justify-items: center;
  }
}

.image__cult {
  height: 600px;
  @media (max-width: 1100px) {
    height: 550px;
  }
  @media (max-width: 900px) {
    height: 500px;
  }
  @media (max-width: 800px) {
    height: 400px;
  }
  @media (max-width: 700px) {
    width: 60vw;
    height: 80vh;
  }
  @media (max-width: 600px) {
    height: auto;
  }
}

// Секция РЕГИСТРАЦИИ
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  @media (max-width: 900px) {
    background-color: rgba(0, 0, 0, 0.8);
  }

  &__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(135, 135, 135, 0.3);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    width: 400px;
    position: relative;

    .modal__close-button {
      position: absolute;
      top: 10px;
      right: 10px;
      font-size: 30px;
      cursor: pointer;
      color: white;
    }

    &__registration-form {
      transform: translateY(-20px);
      transition: opacity 0.5s ease, transform 0.5s ease;
      .registration__form.visible {
        transform: translateY(0);
      }
    }
  }
}
//Секция ФОРМЫ
.form {
  text-align: center;
  padding-top: 20px;

  .data {
    color: rgb(255, 159, 159);
    letter-spacing: 0.1rem;
    text-decoration: none;
  }

  .modal__container-registration {
    color: azure;
    padding: 10px;
  }

  #button {
    // width: 10vw;
    width: auto;
    border-radius: 8px;
    background-color: #fdaf56;
    font-weight: bold;

    // @media (max-width: 900px) {
    //   width: 11vw;
    //   height: 3vw;
    // }
    // @media (max-width: 800px) {
    //   width: 13vw;
    //   height: 3vw;
    // }
    // @media (max-width: 700px) {
    //   height: 3.5vw;
    // }
    // @media (max-width: 500px) {
    //   width: 12vw;
    //   height: 5vw;
    // }
  }
}

//Секция футора
.section__registration {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #e0c6ab;
  padding: 40px;
}

.footer__starting {
  color: white;
  font-size: 1.2rem;

  @media (max-width: 1000px) {
    font-size: 1.2rem;
  }
  @media (max-width: 800px) {
    font-size: 1.05rem;
  }
  @media (max-width: 500px) {
    font-size: 1.09rem;
  }
}
.footer__button-start {
  width: 10vw;
  border-radius: 12px;
  background-color: #ffa343;
  font-weight: bold;

  @media (max-width: 1000px) {
    width: 15vw;
    height: 5vw;
    font-size: 1.2rem;
  }
  @media (max-width: 800px) {
    width: 16vw;
  }
  @media (max-width: 700px) {
    width: 120px;
    height: auto;
    font-size: 1.1rem;
  }
  @media (max-width: 600px) {
    width: auto;
  }
  @media (max-width: 500px) {
  }
}

.footer__holiday-vacation {
  color: white;
  width: 300px;
  padding: 20px;

  @media (max-width: 1000px) {
    font-size: 1.5rem;
  }
  @media (max-width: 800px) {
    width: auto;
    font-size: 1.4rem;
  }
  @media (max-width: 700px) {
    font-size: 1.3rem;
  }
  @media (max-width: 500px) {
    font-size: 1rem;
  }
  @media only screen and (device-width: 430px) and (device-height: 932px) and (-webkit-device-pixel-ratio: 3) {
    font-size: 1rem;
  }
}

.footer__services-container {
  color: white;
  display: flex;
  justify-content: space-around;
  font-size: 1.1rem;

  @media (max-width: 1000px) {
    font-size: 1.3rem;
  }
  @media (max-width: 900px) {
    font-size: 1.02rem;
    line-height: 1.5;
  }
  @media (max-width: 600px) {
    font-size: 1rem;
  }
  @media (max-width: 500px) {
    font-size: 0.78rem;
  }

  .footer__services-list {
    list-style-type: none;
  }
}

.headline {
  color: #ffd1a0;
}

.footer__social-network {
  display: flex;
  justify-content: end;
  gap: 30px;
  padding: 1rem;

  .footer__social-icon {
    width: auto;
    height: 22px;
  }
}

.footer__down {
  color: rgba(255, 255, 255, 0.8);
  text-align: center;
  width: auto;
  @media (max-width: 600px) {
    padding-top: 10px;
  }
  @media only screen and (device-width: 430px) and (device-height: 932px) and (-webkit-device-pixel-ratio: 3) {
    font-size: 0.8rem;
  }
}

// Секция КУКОВ
#cookie-banner {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
}
